# Virtual environment
.venv/
venv/
env/

# Static files
pronunciation_audios/

# Python bytecode/cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Packaging
*.egg

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/



# Environment variables / secrets
.env
.env.*

# Editor/IDE
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Your ad-hoc test scripts 
test_run.py